/* ------ Layout ------ */
html, body{
	height:  100%;
}
body{
	background: url(../imagens/capa.png);
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;

}
/* ------ Barra de navegação ------ */
nav.navbar-cor{
	background: black;
	padding: 10px;
}
.navbar-cor .navbar-nav .nav-link{
	color:  rgba(139,69,19);

}
.navbar-cor .navbar-nav .nav-link:hover{
	color:  #FF69B4;
}

.navbar-cor .link-logo img{
	padding-bottom: 14px;
}

.navbar-cor .link-logo  .titulo-1{
	font-family: Brush Script MT, Brush Script Std, cursive;
	color: #FF69B4;
	letter-spacing: -0.05em;
	font-weight: 500;
}

.navbar-cor .link-logo  .titulo-2{
	font-family: Trebuchet MS, sans-serif;
	color: rgba(139,69,19);
	letter-spacing: 0.05em;
	font-weight: 700;

}

.navbar-cor .navbar-toggler {
	color: #FF69B4;

	border-color: rgba(255,105,180);

}

@media  (max-width: 991.98px) { 
	.navbar-cor .link-logo  .titulo-1, .navbar-cor .link-logo  .titulo-2{
		font-size: 1em;
	}
	.navbar-cor .navbar-nav .nav-link{
		font-size: 0.8em;
	}

 }

 @media  (min-width: 991.98px) { 
	.navbar-cor .link-logo  .titulo-1, .navbar-cor .link-logo  .titulo-2{
		font-size: 1.5em;
	}
	.navbar-cor .navbar-nav .nav-link{
		font-size: 1.3em;
	}

 }


/* ------ Banner ------ */
.info{
	background: rgba(0,0,0, 0.9);
	margin: 120px 0px;
	padding: 20px 15px;

}
.titulo-banner{
	color: #FF69B4;
	margin: 50px 0px;
	text-align: center;
}

.foto-banner{
	display: block;
}
.sorvete-tipo, .sorvete-tipo:hover {
	text-decoration: none;
	padding: 10px;
	font-size: 1.2em;
	letter-spacing: -0.06em;
	text-transform: uppercase;
}
.sorvete-tipo{
	color: black;
}

.sorvete-tipo:hover{
	text-decoration: underline;
	color: black;
}

.icone-carrossel{

	color: rgba(255,255,255);
	font-size: 2.5em;
}


/* ------ História ------ */

.historia{
	background: rgba(0, 0, 0);

	padding: 20px 15px;

	margin: 180px 0px;
}
.titulo-historia{
	color: #FF69B4;
	text-align: center;
	
}

.paragrafo-historia{
	color: white;
	margin-top: 50px;
}
